#errorStyle {
    color: red;
    font-size: small;
}
img{
    height: 560px;
    border-radius: 8px;
}
.signUp{
    position: relative;
    left: 11%;
    width: 1050px;
    height: 560px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 45px;
}
.dark{
    box-shadow: 0px 0px 10px 10px rgb(197, 142, 242);
    border-radius: 8px;
}
.signUpForm{
    margin-top: -60px;
}