.home{
    color: aliceblue;
    text-align: center;
    width: 100%;
    background-color: blue;
}
.homeImg{
    position: fixed;
    top: 55px;
    width: 100%;
    height: auto;
}
.brandSlider{
    position: relative;
    top: 210px;
    width: 100%;
}