.logoWrapper{
    position: relative;
    padding: 40px 30px;
    align-items: center;
    display: flex;
    width: auto;
    justify-content: center;
}
.carosonal{
    display: flex;
    width: auto;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.carosonal::-webkit-scrollbar {
    display: none;
}
.brandLogo{
    width: 150px;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}
/* img.brandLogo:hover{
    width: 160px;
} */
.chevron{
    cursor: pointer;
    opacity: 50;
}
.chevron:hover{
    opacity: 100;
}